

.header-text {
	img {
		max-width:90px;
		max-height:90px;
	}
	div {
		font-size: font-size(4) !important;
		color:$color-brand !important;
		font-family:$font-header !important;
	}
}


//quotes
.rotatingText span {

	margin-top: 60px;    
	quotes: "“" "”" "‘" "’";
	font-family: $font !important;
	//padding-right: spacer(3);
	padding-left: spacer(6);
	margin-top: spacer(6);
	display: block;
    //padding: 0;
    background: none;
    //margin: 0;
    width:auto !important;

}
.rotatingText span:before {
    color: color(brand);
    content: open-quote;
}
.rotatingText span:before {
    font-size: 95px;
    //position: relative;
    position: absolute;
    top: 117px;
    left: 0;
    //font-family: var(--font-family-paragraph);
    //color: var(--color-brand-base);
    content: open-quote;
}


input[type="button"].Padlock {
	//background: blue url("https://my.rethink.org/app_themes/donorhub/images/donorhub/padlock-3-24.png") no-repeat right 20px center !important;
	background: red;
}


.donationOptions label {
	padding: spacer(2) spacer(3);
    display: block;
    position: relative;
    background-color: color(secondary);
    color: color-gray(0);
    border-radius: 1000px;
    padding: spacer(2);

    &:hover {
    	background-color: color(secondary,light);
    	//color:color(secondary,dark);
    	color: color-gray(10);
    	cursor:pointer;
    }
}

.donationsFrequency td label {
	padding: spacer(2) spacer(3);
    display: block;
    position: relative;
    background-color: color-gray(0);
    color: color(text);
    border-radius: 1000px;
    border-color: color(secondary);
    padding: spacer(2);

    &:hover {
    	background-color: color(secondary,light);
    	//color:color(secondary,dark);
    	color: color-gray(10);
    	cursor:pointer;
    }
}

.donationsFrequency td label {
	border-radius: 0;
}

.donationOptions input:checked + label, .donationsFrequency td input:checked + label {
	background-color: color(secondary,light) !important;
    color:color-gray(10);
}

.TextButton:hover {
	background:color(primary, dark);
	opacity: 1;
}

input.donationOther {
    padding-left: 60px !important;
}

.footerCentered > * {
		text-align: center;
		margin:auto;
}

.footerCentered {
	span {
		color:color-gray(60);
	}
	.rethinkColor {
		font-size:font-size(6);
	}

	a {
		font-size:font-size(6);	
		color:color-gray(60);
		font-weight: bold;
	}
}

#RethinkFooter a {
	font-size:font-size(6);	
}

.NavigationUnorderedList {
	span {
			color:color-gray(100);
			font-weight:400;
			font-size: font-size(5);
			padding:0 spacer(2);
		}
}