//----Enganging networks styles

p {
    padding: spacer(1);
}

//will need alternative
//need other containers?
.campaignsSAWForm {
   padding:5px;
  @include min(bp(sm)) {
    padding: spacer(1);
  }
}

.en__component.en__component--copyblock {
  clear: both;
}

textarea {
  min-height: 100px;
  border-radius: 15px;
}

div[class*=' en__field--opt-in-'] * {
  //width: 295px;
  float: left;
}
div[class*=' en__field--opt-in-']  {

  padding: spacer(4) 0;

}


/*needed for contact pref labels*/
.eaFullWidthContent {
    float: none;
}
      
      


