$textual-form-inputs-class: "input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="search"], textarea, select, .input";

$input-size: 22px;

input {
  cursor: pointer;
}

body {
 @include min(bp(sm)) {
        
        //background:red;
    }

}

#{$textual-form-inputs-class} {
    display: block;
    width: 100%;
    border-radius: 1000px;
    border: none;
    background: color-gray(10);
    padding: 0.875rem 1.75rem;
    font-weight: bold;
    outline: none;
    color: color(text);
    min-width: 10px;
    max-width: 230px;

    min-height: auto;
    @include min(bp(sm)) {
        //min-height: 70px;
        //background:red;
        max-width: 550px;

    }
    

    &:hover {
        border-color: color-gray(60);
    }

    &:focus {
        border-color: color(primary);
        box-shadow: 0 0 5px color(primary);
    }

    &::placeholder {
        color: color-gray(40);
    }

    &.has-bg-gray-0 {
        background: color-gray(0);
    }
}

input[type="radio"],
input[type="checkbox"] {
    width: $input-size;
    height: $input-size;
}

.custom-input {
    input[type="checkbox"], input[type="radio"] {
        opacity: 0;
        margin: 0;
        width: 0;
        height: 0;

        &:checked {
            & ~ .custom-input-indicator {
                &:after {
                    width: $input-size - 10;
                    height: $input-size - 10;
                }
            }
        }

        &:focus {
            & ~ .custom-input-indicator {
                //@include focus-style;
            }
        }
    }

    input[type="radio"] {
        & ~ .custom-input-indicator {
            border-radius: 50%;

            &:after {
                border-radius: 50%;
            }
        }
    }

    .custom-input-indicator {
        display: inline-block;
        width: $input-size;
        height: $input-size;
        background-color: color-gray(0);
        border: 1px solid color(brand);
        position: relative;
        cursor: pointer;
        margin-right: spacer(2);

        &:after {
            content: "";
            background-color: color(brand);
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}