//header
// shop menu
.RadMenu ul.rmHorizontal, .RadMenu ul.rmHorizontal {

	display: block;
	max-width:auto;

	@include min(bp(md)) {	
	    display: flex;
	    justify-content: space-between;
	    max-width:1000px;
	}

		margin:auto;
		background:none;
		margin-bottom:spacer(5);

	.rmItem {
		.rmLink {
			background:color-gray(0);	
			color:color-gray(100);
		}
	}
}

//header shadow
header {
	    box-shadow: -7px 9px 8px transparent;
	    border-bottom: 1px solid color-gray(20);
		box-shadow: 0px 12px 8px -5px rgba(0,0,0,.1);
}

.RadMenu.rmResponsive .rmRootGroup > .rmItem > .rmLink {
	background:transparent;	
	color:color(brand);
	font-size: font-size(6);
    font-weight: 700;
    //width: 100%;
    padding: spacer(1) 0 spacer(1) 0;

	&:hover {
		background:transparent;	
		color:color(branddark);
	}
}

.NavigationUnorderedList {
	span {
			color:color-gray(100);
			font-weight:400;
			font-size: font-size(5);
			
			padding:auto;

			@include min(bp(md)) {
				padding:0 spacer(2);
			}

		}
}
