
//ris forms manditory star fix
label {
  span {
    //float:left;
    padding-right:.5rem;
  }
}


//engaging networks
div[class*=' en__field--opt-in-']  {

  label {
    min-width: 50px;
    @include min(bp(sm)) {
      min-width: 100px;
    }
  }
}

div[class*=' en__field--opt-in-']  {

  padding: spacer(4) 0;

  .en__field__label {
    padding:0 1rem;
  }
}

.PanelField label, .PanelField .Label {
  //width:auto;
  width:100%;
    @include min(bp(sm)) {
      //width:100%;
    }
}
.Left .PanelFieldValue {
  float:none !important;
}
.Right .PanelFieldValue {
  float:right !important;
}

//members
.CommunicationPreferencesSection {
    label {
      padding-top: 0;       
      padding-bottom: 0;
    }
}


label {
	//font-size: var(--font-size-5);
    //font-family: var(--font-family-title);
    font-weight: bolder;
    margin-bottom: 0;
    cursor: pointer;
    display: block;
    padding:0.5rem 1.5rem;
    padding-left:0.8rem;
    //padding-top:3rem;
    padding-top:1rem;
    padding-bottom: spacer(1);
    line-height: 1.4rem;
    width:100%;
    //background:green;

    @include min(bp(sm)) {
      //padding-top:3rem;
      //display: block;
     // width: auto;
      //background:red;
    }

}

//ris field
#ctl00_TemplateBody_WebPartManager1_gwpciCreateaccountloginAfd_ciCreateaccountloginAfd_AfdControlsWrapper8677da2d628e4a42ac634d699f6f12af {
  label {
    padding: spacer(6) 0 spacer(1) 0.6rem;
  }
}

//date of birth field fix
html body .RadInput .riTextBox {
  padding:1rem;
}
html body .riSingle .riTextBox[type="text"] {
  padding:1rem; 
}