/*Legacy styles*/


/*.legacySignup {
	font-family:arial, sans-serif;
	font-size:18px;
	line-height:27px;
	border-radius:7px;
	margin-top:1em;
	overflow-x:hidden;
}
.legacySignup strong span {
	font-size:18px;
}
.legacySignup span {
	font-size:18px;
}
.legacySignup input {
	margin-top:0;
}
.legacySignup .panel-body {
	padding:0;
	
}
.legacySignup  .TextButton {
	background:#00adee;
	color:#fff;
	border-radius:7px;
	padding:0.8em 1em;
}
.legacySignup  .TextButton:hover {
	background:#08b;
	color:#fff;
	transition: all .33s ease-in-out;
}
.legacySignup .afdAddressFinderButton {
	padding:0 0.5em;
	margin-top:0;
	background:transparent;
	border:4px solid #00adee;
	border-radius:0;
	color:#00adee;
}
.legacySignup .afdAddressFinderButton:hover {
	background:#00adee;
	color:#fff;
}
.legacySignup .panel {
	background:#ddeaf3;
	box-shadow:none;
	border-radius:7px;
	padding-top:1em;
	padding-bottom:1em;
	
}
.legacySignup .legacySignupafdListBox {
	background:#fff;
}
.legacySignup .legacySignupafdAddressFinder {
	background:#fff;
}
 #ste_container_ciPagePopup {
	display:none;
}
 #ste_container_ciResizeIframe {
	display:none;
	margin:0;
}
 #ste_container_ciresizeiframe {
	display:none;
	margin:0;
}
 #ste_container_ciModal {
	display:none;
}
 #ste_container_cimodal {
	display:none;
}

.legacyCommentFeed .col-sm-12 {
	padding-left:0;
	padding-right:0;
}
.legacyCommentFeed {
	font-family:arial, sans-serif;
	font-size:18px;
	line-height:27px;
}
.legacyCommentForm {
	font-family:arial, sans-serif;
	font-size:18px;
	line-height:27px;
	background:#ddeaf3;
	border-radius:7px;
	margin-top:1em;
	padding-top:1em;
	padding-bottom:1em;
}
.legacyCommentForm textarea {
	width:100%;
}
.legacyCommentForm .panel-body {
	padding:0;
	
}

.legacySignup .webToolzRadioButtonList0 {
	width: 100%;
}

.legacySignup .webToolzRadioButtonList0 tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.legacySignup .webToolzRadioButtonList0 td {
    width: 100%;
	padding-left: 10px;
}

.legacySignup .webToolzRadioButtonList0 input {
    display: none;
}

.legacyCommentForm  .TextButton  {
	background:#00adee;
	color:#fff;
	border-radius:7px;
	padding:0.8em 1em;
}

.legacySignup .webToolzRadioButtonList0 input + label {
    background: transparent;
    border: #00adee 4px solid;
    color: #00adee;
	width: 100% !important; 
	cursor: pointer;
	height: 37px;
	text-align: center;
	font-weight: normal;
}

.legacySignup .webToolzRadioButtonList0 input + label:hover {
	background:#00adee;
	color:#fff;
	transition: all .33s ease-in-out;
}

.legacySignup .webToolzRadioButtonList0 input:checked + label {
	background:#00adee;
	color: white;
	border-radius:0;
}

.legacyCommentForm strong {
	font-family:arial, sans-serif;
	font-size:18px;
	line-height:27px;
}

.Required {
	background-position: 4px 5px !important;
}
*/