

//overwrite on behalf of
.ProxyPanelNoContact {
	font-weight: normal;
}
h2 {
	border-bottom:0;
}

//membership id
#ctl01_TemplateBody_WebPartManager1_gwpciNewContactStatus_ciNewContactStatus_memberId {
		
}

.TopStatus {
		color:color(primary);
		font-weight: bold;
	.Label {
		width:auto !important;
		color:color(primary);
	}
}

.box {
	box-shadow: -7px 9px 8px rgba(0,0,0,.1);
}

h2.panel-title, .TitleBarCaption {
	border-bottom: 0;
}
.panel-heading {
	margin:auto;
}
.panel-heading.Distinguish {
	border-bottom-style: none;
	margin:auto;
}
.SectionLabel {
	color:color(text);
}

.PrimaryButton {
	font-size:inherit !important;
}
.CommunicationPreferencesSection {
	background-color: color-gray(10);
}

#ctl01_TemplateBody_WebPartManager1_gwpciNewCommunicationPreferencesEditorCommon_ciNewCommunicationPreferencesEditorCommon_UnsubscribeContainer {
	label {
		padding-top:inherit;
	}	
}


.TextButton {
	font-size:font-size(5) !important;
	//background: transparent;
	//color:color(text);
	//padding:inherit !important;
}

//gift aid box
#ctl01_TemplateBody_WebPartManager1_gwpciGiftAidMembership_ciGiftAidMembership_ViewzUpdatePanel {
	.LargeButton {
		background-color: transparent !important;
		color:color(text) !important;
		font-size: font-size(5) !important;
	}
}

.iMIS-WebPart > .ContentItemContainer {
	padding-bottom: spacer(3);
}

#ctl01_TemplateBody_WebPartManager1_gwpciNewViewzCommon_ciNewViewzCommon_ViewzUpdatePanel div {
	margin:auto !important;
}

//save and cancel buttons
#ctl01_TemplateBody_WebPartManager1_gwpciNewCommunicationPreferencesEditorCommon_ciNewCommunicationPreferencesEditorCommon_LocalButtonBar {
	.TextButton {
		background: transparent;
		color:color(primary);
		padding:inherit !important;
		margin:auto;
		&:active {
			box-shadow: none;
		}
	}
}