

//overwrite on behalf of
.ProxyPanelNoContact {
	font-weight: normal;
}
h2 {
	border-bottom:0;
}

//membership id
#ctl01_TemplateBody_WebPartManager1_gwpciNewContactStatus_ciNewContactStatus_memberId {
		
}

.TopStatus {
		color:color(primary);
		font-weight: bold;
	.Label {
		width:auto !important;
		color:color(primary);
	}
}

.box {
	//box-shadow: -7px 9px 8px rgba(0,0,0,.1);
}