$font:"Helvetica Neue", Arial, sans-serif;
$color-brand: rgb(0, 176, 240);
$color-primary:rgb(145, 39, 143);
$font-header:CoRethink, "Helvetica Neue", Arial, sans-serif;

//fonts
$root-default: ":root";
$use-css-var: true;

$max-width:1120px;

$text-block-width: 1000px; //736




$font:"Helvetica Neue", Arial, sans-serif;
// ------------------------------
// Sass Variables
// ------------------------------
$font-size-prefix: --font-size-;
$font-sizes: (
  root: 16px,
  paragraph: 1rem,
  1: 2.813rem, //45px
  2: 2.5rem, //40px
  3: 2rem, //32px
  4: 1.5rem, //24px
  5: 1.313rem, //21px
  6: 1rem,
  button: 1rem,
  small: 0.8125rem
);

//find overflows on mobile
/*
  * {
   outline: 1px solid red;
  }
*/

html {
    font-size: font-size(root);

    /*font-size: calc(#{font-size(root)} - 2px);

  @include min(#{bp(sm)}) {
    font-size: font-size(root);
  }*/
}

// ------------------------------
// General
// ------------------------------
body {
  font-family: font-family(paragraph);
  font-size: font-size(paragraph);
  color: color(text);

  //container


}



// ------------------------------
// Set font-size function
// ------------------------------
@function font-size($font-size, $true-val:false) {
  @if $use-css-var == true {
    @if $true-val == true {
      @return map-get($font-sizes, $font-size); // True Val
    } @else {
      @return var(#{$font-size-prefix}#{$font-size}); // CSS Var
    }
  } @else {
    @return map-get($font-sizes, $font-size); // Disabled CSS Var
  }
}
// ------------------------------
// Set root variables
// ------------------------------

  #{$root-default} {
    @each $name, $font-size in $font-sizes {
      #{$font-size-prefix}#{$name}: $font-size;
    }
  }


//fonts in rem
//mobile??
//h5 nd 
body {
	font-family:$font;
  //padding:1rem;
  margin:0;
}
h1 {
	font-size:45px;
}
h2 {font-size:40px;}
h3 {font-size:32px;}
h4 {font-size:24px;}

h2.panel-title { font-size:font-size(5); }

h1,h2,h3,h4, h2.panel-title {
	color:$color-brand !important;
	font-family:$font-header !important;
}
h5,h6 {
	color:rgb(0, 0, 0);
	font-family:$font;
	font-size: 16px;
}

p {
	//color:rgb(148, 148, 148);
}

p,
.is-p,
.has-font-size-p {
  font-size: font-size(paragraph);
  line-height: 1.5;
  max-width: $text-block-width;
  display: block;
}

p,
.is-p, span {
  margin-bottom: spacer(2);

  &.is-small {
      font-size: font-size(small);
  }
}



strong {
	font-weight: 700;
}
span {
  //padding:1rem 0;
}
a  {}
a:link {}

hr {
  margin: spacer(6) 0;
  max-width: 80%;
  display: none;
}



select {
  border-radius: 0;
  //padding:inherit;
  min-height: auto;
  height:auto;
}

textarea {}

.quote {
	margin-top: 60px;    
	quotes: "“" "”" "‘" "’";
	//font-family: var(--font-family-title)!important;
	//    padding-right: var(--spacer-3);
	//    padding-left: var(--spacer-3);

}
.quote.is-groups .has-quotes:before {
    //color: var(--color-warning-base);
    content: open-quote;
}
.quote .has-quotes:before {
    font-size: 95px;
    position: absolute;
    top: 24px;
    left: 0;
    //font-family: var(--font-family-paragraph);
    //color: var(--color-brand-base);
    content: open-quote;
}


.Required {
  background-image:none !important;

}
.Required:before {
  content:"*";
  color:red;
  width:1rem;
  padding-right:0.5rem;
  }


/*
grey background
roundal
featured
img text with text btn
*/




