
#shopLogo a img {
	max-width: 90px;
	max-height: 90px;
}
//was pushing header down
#ste_container_HeaderLogoSpan {
	margin-bottom:0;
}
#masterLogoArea {
	max-height: 100px;
}


//create account and cart
.nav-aux-button {
	background: none;
	&:hover {
		background: none;
	}
}





.shopFrontWindow {
	//margin-bottom: spacer(7);
	min-height: 210px;
	min-width: auto;

	@include min(bp(xs)) {
		min-height: 308px;
	}
	@include min(bp(sm)) {
		min-height: 327px;
	}
	@include min(bp(md)) {
		min-height: 350px;
		margin-bottom: spacer(1);
	}
	@include min(bp(lg)) {
		min-height: 508px;
		margin-bottom: spacer(7);
	}


	h2 {
		background:color(brand);
		//background:none;
		//color:color(brand);
		color:color-gray(0);
		font-family:$font;
		font-size: font-size(5);
		margin-top:auto;
		width:100%;
		text-align: center;
		padding:initial;
		font-size: font-size(4);
		padding:spacer(3) spacer(3);

		bottom:-144px;
		position: relative;
		/*@include min(bp(sm)) {
			bottom:0;
		}*/
		@include min(bp(sm)) {
			bottom:0;
			position: absolute;
		}
	}
}

h2.PanelTitle {
	background: color-gray(0);
	color: color(brand);
	font-family:$font;
	padding: 0;
	font-size:font-size(4);

}

.zen-product {
	background: color-gray(0);
}


//hide 3rd product on tab only
.zen-product {

	&:nth-child(3) {
		@include min(bp(sm)) {
			//background: red;
			//border: 3px solid red;
			display: none;
		}
		@include min(bp(xl)) {
			//background: blue;
			//border: 3px solid red;
			display: inline-block;
		}
	}
}
.zen-popular-product-img {
	width:100px;
	@include min(bp(sm)) {
			width:100px;
	}
	@include min(bp(lg)) {
			width:150px;
	}
}


.zen-popular-product-title a {
	color:color-gray(100);
	//font-weight: bold;
	margin-bottom: spacer(2);
	display: inline-block;
	font-family: $font;
}


.zen-popular-product-img {
	border-radius: 50%;
}

.wethinkwhymembercontain {
	margin:auto;
}

.difference, .promise, .infinnity, .delivery {
	border-radius: 50%;
	max-width: 200px;
	max-height: 200px;
    background-size: cover;
	margin:auto;

	@include min(bp(sm)) {
		max-width: 150px;
		max-height: 150px;
	}
	@include min(bp(md)) {
		max-width: 150px;
		max-height: 150px;
	}
	@include min(bp(lg)) {
		max-width: 150px;
		max-height: 150px;
	}
}

.delivery {
	background-size: 80%;
}

.difference span, .promise span, .infinnity span, .delivery span {
	//background:color(brand);
	//font-size: 16px;
	height:auto;
	text-shadow: none;
	//font-family:$font;
	position: relative;
    text-align: center;
    color: color(primary);
    min-height: 47px;
    //left: -10px;
	//top:100px;
	z-index: 10;
	font-family: font-family(title);
    font-weight: 700;
    line-height: 1.2;
    font-size:font-size(5);
    width:auto;
	//border:1px solid red;
	margin-bottom: spacer(6);

	padding-top: spacer(1);
	background:#fff;
	bottom:auto;

	@include min(bp(md)) {
		top:unset;
    	bottom: -149px;
    	width:100%;
    	background: none;
    	//bottom: -209px;
		padding-top: spacer(6);
	}	
	@include min(bp(lg)) {
		top:170px;

	}	

}

.footer {
	margin-top: spacer(7);
	display: block;
}

.footerLeft {
	ul {
		width:100%;
		text-align: center;
		margin: auto;
		display: inline-block;
		//justify-content: space-between;

		@include min(bp(lg)) {
			display: flex !important;
			justify-content: space-between;
		}


		li {
			font-size: font-size(5);
			display: inline-block;
			
			@include min(bp(lg)) {
				display: block;
			}
		}
	}
}
.footerRight {

	text-align: right;

	.helpandadvice {
		font-weight: normal;
	}


}

.footer-content {
	
	padding-top:spacer(7);
	padding-bottom:spacer(7);
	background-color:color-gray(10) !important;
	color:color-gray(60);

	a {
		color:color-gray(100);
		text-decoration:none;
		&:visited {
			color:color-gray(100);
		}
		&:hover {
			color:color-gray(100);
		}
	}
}

.navfooter {
	color:color-gray(60);
	text-align: center;
	background-color:color-gray(10) !important;
}

/*.footer-content {
	background-color:color-gray(10) !important;
}
.footer-nav-copyright {
	background-color:color-gray(10);	
}
.navfooter {
	color:color-gray(60);
	text-align: center;
}

.nav-auxiliary .navbar-toggle {
	background-color: color(brand);
	color:black;
}*/