$font:"Helvetica Neue", Arial, sans-serif;
$color-brand: rgb(0, 176, 240);
$color-primary:rgb(145, 39, 143);
$font-header:CoRethink, "Helvetica Neue", Arial, sans-serif;

//fonts
$root-default: ":root";
$use-css-var: true;


$font:"Helvetica Neue", Arial, sans-serif;
// ------------------------------
// Sass Variables
// ------------------------------
$font-size-prefix: --font-size-;
$font-sizes: (
  root: 16px,
  paragraph: 1rem,
  1: 2.813rem, //45px
  2: 2.5rem, //40px
  3: 2rem, //32px
  4: 1.5rem, //24px
  5: 1.313rem, //21px
  6: 1rem,
  button: 1rem,
  small: 0.8125rem
);

// ------------------------------
// Set font-size function
// ------------------------------
@function font-size($font-size, $true-val:false) {
  @if $use-css-var == true {
    @if $true-val == true {
      @return map-get($font-sizes, $font-size); // True Val
    } @else {
      @return var(#{$font-size-prefix}#{$font-size}); // CSS Var
    }
  } @else {
    @return map-get($font-sizes, $font-size); // Disabled CSS Var
  }
}
// ------------------------------
// Set root variables
// ------------------------------

  #{$root-default} {
    @each $name, $font-size in $font-sizes {
      #{$font-size-prefix}#{$name}: $font-size;
    }
  }


//fonts in rem
//mobile??
//h5 nd 
body {
	font-family:$font;

}
h1 {
	font-size:45px;
}
h2 {font-size:40px;}
h3 {font-size:32px;}
h4 {font-size:24px;}
h1,h2,h3,h4 {
	color:$color-brand;
	font:$font-header;
}
h5,h6 {
	color:rgb(0, 0, 0);
	font:$font;
	font-size: 16px;
}
p {
	color:rgb(148, 148, 148);
}
.btn, button {
	background: $color-primary;
	border-radius: 1000px;
	font-family:$font;
	color:white;
	font-size:1rem;
	padding:28px 14px;
	margin-top:8px;
	font-weight:700;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay:0s, 0s, 0s;
	transition-duration:0.5s, 0.5s, 0.5s;
	//width:106;
	display: inline-block;
	transition-property:background-color, color, border-color;
	transition-timing-function:ease-in-out, ease-in-out, ease-in-out;
}
strong {
	font-weight: 700;
}
span {}
a  {}
a:link {}
label {
	//font-size: var(--font-size-5);
    //font-family: var(--font-family-title);
    font-weight: bolder;
    margin-bottom: 0;
    cursor: pointer;
    display: block;
}
input {
	cursor: pointer;
	overflow: visible;
	display: block;
    width: 100%;
    border-radius: 1000px;
    border: none;
    //background: var(--color-gray-10);
    padding: .875rem 1.75rem;
    font-weight: 700;
    outline: 0;
    //color: var(--color-text-base);
    min-width: 10px;
    max-width: 550px;
}
textarea {}

.quote {
	margin-top: 60px;    
	quotes: "“" "”" "‘" "’";
	//font-family: var(--font-family-title)!important;
	//    padding-right: var(--spacer-3);
	//    padding-left: var(--spacer-3);

}
.quote.is-groups .has-quotes:before {
    //color: var(--color-warning-base);
    content: open-quote;
}
.quote .has-quotes:before {
    font-size: 95px;
    position: absolute;
    top: 24px;
    left: 0;
    //font-family: var(--font-family-paragraph);
    //color: var(--color-brand-base);
    content: open-quote;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
/*
grey background
roundal
featured
img text with text btn
*/



//----Enganging networks styles


.eaErrorMessage {
  font-size: 16px;
    font-family: sans-serif;
}
  
p  {
 // font-size:16px !important;
 // font-family: arial, helvetica, sans-serif;
 // color:#292424;
}

span {
  //font-family: arial, helvetica, sans-serif;
}
  
a {
  //color:#00adee;    
}
a:link {
  //color:#00adee;
}
a:visited {
 // color:#00adee;
}
a:hover {
  //color:#007dbe;
}
    
#Opt_in_EMAILDiv {
 // padding-top:1em;
}
#Opt_in_SMSDiv {
  //padding-bottom:1em;

}
    
#SAW_Housing_Camp_Petition_TYDiv {
    
    }
    
.eaSubmitResetButtonGroup {
   // float:none;
}
    
#eaFormButtonGroup_1 {
/*breaks lables for contact prefs*/
   // float: none;
      
}

/*needed for contact pref labels*/
.eaFullWidthContent {
    float: none;
}
      
 label  {
  //font-size:16px !important;
 // font-family: arial, helvetica, sans-serif;
  //color:#292424;
  
}
  
.campaignsSAWForm strong, .en__field__label {
  //color:#007dbe;
}
  
.en__field__label {
 // width:295px;
 // font-weight:bold;
}
    
.campaignsSAWForm.eaFormElementLabel {
 // float:none;
    
}

input[type="text"] {
   // font-size:16px;
  //font-family: arial, helvetica, sans-serif;
}

.en__submit {

}


input[type="submit"], .en__submit button {
  
  /*font-size:large;
  text-align:center;
  margin:auto;
  margin-top:2em;
  margin-bottom:2em;
  display:block;
  color:#e3e3e3;
  background:#00adee;
  text-transform:uppercase;
  width:300px;

  verticle-align:center;
  padding:1.5em 2em;
  text-decoration:none;border-radius:15px;*/
}

input[type="submit"] a, .en__submit button a {
 // height:200px
}
input[type="submit"]:hover, .en__submit:hover  button {
  //background:#007dbe;
}

.eaQuestionCheckboxFormFieldContainer {
    /*background: #e3e3e3;*/
    /*max-width: 331px;*/
    
    /* border-top-left-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
  
}

.eaQuestionCheckboxFormFieldContainer label {

 /*   background: #e3e3e3;
    padding: 10px;
    min-width: 200px;
    text-shadow: 1px 1px 2px #fff;
    border: 1px dashed #666;
    display: inline-block;*/
}
  
  
.eaFormElementLabel, .en__field__label {
    /*width: 90%;
    float: left;
    position: relative;
    margin-left: 0px;
    padding-right: 5px;
    margin-bottom:0 !important;*/
}
  
/*thank you page*/
#SAW_Housing_Camp_and_Petition_TYDiv sup span span strong {
  //font-size:33px;

}
#Reactivation_Thank_YouDiv strong span {
  //font-size:33px;
}


#SAW_IntroDiv strong {
  //font-size:23px;
}


.en__errorHeader {
  //color: #e3e3e3;
  
}
.en__errorList {
  /*margin: 0;
    background: red;
    padding: 10px;
    color: #fff;
  font-family: sans-serif;*/
}
.en__field__error {
 // color:red;
 // font-family: sans-serif;

}
  
.en__contactMessage__htmlDisplay iframe {
 /// min-height:700px;
}
.en__contactMessage__plainText {
   // min-height: 500px;
}
.campaignsSAWForm {
  //max-width:600px;
 // margin:auto;
  }


@media (max-device-width : 667px) {
  label a strong, .en__field__label {
    //font-size:17px;
  }
  .eaQuestionCheckboxFormFieldContainer label {
    //font-size:18px !important;
  }
  input[type="submit"], .en__submit button {
    //width:auto;
    
  }
  input[type="text"] {
      //width: 245px;
  }
  .eaFormTextfield {
   // margin-bottom:20px;
  }
  .eaQuestionCheckbox input {
   /* width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right:2px;*/
  }

  .eaValidationIcon {
    //  padding-right: 3px;
  }
  p {
    //width:290px;
  }
  
}
          
.en__field--23275 label {
  //width:200px;
}

.en__field--122992 label {
  //width:200px;
}
