$font:"Helvetica Neue", Arial, sans-serif;

body {
	font-family:$font;

}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {}
.btn {
	background: rgb(145, 39, 143);
	border-radius: 1000px;
}
strong {}
span {}
a  {}
a:link {}
label {}
input {}
textarea {}
button {}
.quote {}
/*
grey background
roundal
featured
img text with text btn
*/