$font:"Helvetica Neue", Arial, sans-serif;
$color-brand: rgb(0, 176, 240);
$color-primary:rgb(145, 39, 143);
$font-header:CoRethink, "Helvetica Neue", Arial, sans-serif;
//fonts in rem
//mobile??
//h5 nd 
body {
	font-family:$font;

}
h1 {
	font-size:45px;
}
h2 {font-size:40px;}
h3 {font-size:32px;}
h4 {font-size:24px;}
h1,h2,h3,h4 {
	color:$color-brand;
	font:$font-header;
}
h5,h6 {
	color:rgb(0, 0, 0);
	font:$font;
	font-size: 16px;
}
p {
	color:rgb(148, 148, 148);
}
.btn, button {
	background: $color-primary;
	border-radius: 1000px;
	font-family:$font;
	color:white;
	font-size:1rem;
	padding:28px 14px;
	margin-top:8px;
	font-weight:700;
	text-decoration-line: none;
	text-decoration-style: solid;
	transition-delay:0s, 0s, 0s;
	transition-duration:0.5s, 0.5s, 0.5s;
	//width:106;
	display: inline-block;
	transition-property:background-color, color, border-color;
	transition-timing-function:ease-in-out, ease-in-out, ease-in-out;
}
strong {
	font-weight: 700;
}
span {}
a  {}
a:link {}
label {
	//font-size: var(--font-size-5);
    //font-family: var(--font-family-title);
    font-weight: bolder;
    margin-bottom: 0;
    cursor: pointer;
    display: block;
}
input {
	cursor: pointer;
	overflow: visible;
	display: block;
    width: 100%;
    border-radius: 1000px;
    border: none;
    //background: var(--color-gray-10);
    padding: .875rem 1.75rem;
    font-weight: 700;
    outline: 0;
    //color: var(--color-text-base);
    min-width: 10px;
    max-width: 550px;
}
textarea {}

.quote {
	margin-top: 60px;    
	quotes: "“" "”" "‘" "’";
	//font-family: var(--font-family-title)!important;
	//    padding-right: var(--spacer-3);
	//    padding-left: var(--spacer-3);

}
.quote.is-groups .has-quotes:before {
    //color: var(--color-warning-base);
    content: open-quote;
}
.quote .has-quotes:before {
    font-size: 95px;
    position: absolute;
    top: 24px;
    left: 0;
    //font-family: var(--font-family-paragraph);
    //color: var(--color-brand-base);
    content: open-quote;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
/*
grey background
roundal
featured
img text with text btn
*/